*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-position: center;
    background-size: cover;
    background-image: url(https://cdn.photoroom.com/v1/assets-cached.jpg?path=backgrounds_v3/black/Photoroom_black_background_extremely_fine_texture_only_black_co_bb229b4b-002b-4ec4-85fa-2aec353fc780.jpg);
}
.container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;


}
.container .text{
    width: 50%;
}
.container .text h1{
    font-size: 45px;
    color: #fff;
}
.container .text p{
    color: beige;
}
.container .app{
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    text-align: left;
}
p{
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0px;
    
    
}
.app input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border-color: #222;
}
.app button{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    background-color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.qrcode{
    text-align: center;
    margin: 15px 0px 15px 0px;
    width: 200px;
    margin: 20px auto;
    max-height: 0;
    overflow: hidden;

}
.qrcode img{
   border: 1px #222 solid;
   padding: 8px;
   border-radius: 4px;
   width: 100%;
}
.qrcode.showQrcode{
    max-height: 300px;
    transition: max-height 1s;
 }
 
 .error{
    animation: shake 0.3s linear ;
    animation-duration: 10;

 }

 @keyframes shake{
    0%{
        transform: translateX(0);
        border-color: red;
    }
    25%{
        transform: translateX(-2px);
        border-color: red;
    }
    50%{
        transform: translateX(0);
        border-color: red;
    }
    75%{
        transform: translateX(2px);
        border-color: red;
    }
    100%{
        transform: translateX(0);
        border-color: red;
    }
 }
 